body {
    margin: 0;
    background-color: #EDEDED;
    font-family: Arial, Helvetica, verdana, sans-serif;
}
.theWholePage {
    margin-top: 1%;
    width: 95.1%;
    height: 932px;
    margin-left: 2.4%;
    background-color: rgb(140, 140, 140);
    box-shadow: #444 0px 0px 70px;
    display: inline-block;
}
.MainNav {
    z-index: 5;
    position: relative;
    display: flex;
    margin: 0;
    height: 36px;
}
.webDescription {
    font-size: 40%;
}
.logo {
    text-decoration: none;
    padding-top: 0.5%;
    padding-left: 2%;
    line-height: 117%;
    font-size: 56px;
    color: rgb(87, 115, 255);
}
.weight900 {
    font-weight: 900;
}
.weight500 {
    font-weight: 500;
    font-size: 32px;
}
.copyRitht {
    text-align: center;
    font-size: 80%;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}
.flex5 {
    flex: 5;
}
.flex6 {
    flex: 6;
}
.flex7 {
    flex: 7;
}
.flex8 {
    flex: 8;
}
.flex9 {
    flex: 9;
}
.flex10 {
    flex: 10;
}
.flex11 {
    flex: 11;
}
.flex12 {
    flex: 12;
}
.hoverGray:hover {
    background-color: gray;
}
.navLinkCss {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 8px;
    border-left: 1px solid rgb(182, 182, 182);
    font-size: 108%;
}
.topHeader {
    display: flex;
    background-color: #B6B6B6;
    height: 80px;
}
.childrenOfHeader {
    flex: 1;
}
.logInOrOut {
    text-align: right;
    padding-right: 1%;
    margin-top: 0.01%;
}
.logInOutButton {
    color: black;
    line-height: 10px;
    padding: 10px;
    background-image: url(../img/white85p_400x400.png);
    margin-top: 10px;
    float: right;
    border-radius: 10px;
    font-size: 52%;
    text-decoration: none;
}
.hideLogOut {
    display: none;
    background-color: rgb(87, 115, 255);
    color: white;
    padding: 5px;
    border-radius: 25px;
    font-size: 13px;
    float: right;
    cursor: pointer;
}
.hideLogIn {
    display: inline-block;
    background-color: rgb(87, 115, 255);
    color: white;
    padding: 5px;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
}
.padding3 {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
}
.noBorder {
    border: none;
}
.pageYouOn {
    border-bottom: rgb(6, 6, 6) solid 1px;
    border-left: rgb(6, 6, 6) solid 1px;
    border-right: rgb(6, 6, 6) solid 1px;
    background-color: rgb(82, 79, 79);
    opacity: 0.8;
}
.pageYouAreNotOn {
    background-color: black;
}
.fontSize85Precent {
    font-size: 85%;
}
.fontSize80Precent {
    font-size: 80%;
}
.mainImage {
    height: 852px;
    width: 95.1%;
    position: absolute;
}
.welcomeTheClient {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 85%;
    color: brown;
}
.hideThisWhileClientNotLogedIn {
    display: none;
}
.prossesOfOrder {
    display: flex;
    position: relative;
    width: 70%;
    background-color: black;
    padding: 7px;
    padding-right: 1px;
    padding-left: 10px;
    margin-left: 14%;
    color: white;
    margin-top: 0.5%;
}
.statusNotDoneLine {
    width: 95%;
    height: 9px;
    background-color: red;
}
.stepPageDone {
    
}
